<ion-header>
</ion-header>

<ion-content>
  <br>
  <h1>Login</h1>
  <br>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="Digite seu email"
      ></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        placeholder="Digite sua senha"
      ></ion-input>
    </ion-item>
  </ion-list>
<br>

<div class="botao">
  <ion-button shape="round" color="primary" (click)="login()">Entrar</ion-button>
</div>

<div class="botao">
  <ion-button shape="round" color="primary" (click)="goToRegister()">Não tem uma conta? Registrar-se</ion-button>
</div>

</ion-content>

