<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Previsão do Tempo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Digite a cidade</ion-label>
    <ion-input [(ngModel)]="city" type="text"></ion-input>
  </ion-item>

  <ion-button (click)="searchWeather()">Buscar Clima</ion-button>

<!-- Exibição do clima atual -->
<div *ngIf="currentWeather">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentWeather.name }}</ion-card-title>
      <ion-card-subtitle>{{ currentWeather.weather[0].description | titlecase }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Temperatura Atual: {{ currentWeather.main.temp }}°C</p>
      <p>Máxima: {{ currentWeather.main.temp_max }}°C</p>
      <p>Mínima: {{ currentWeather.main.temp_min }}°C</p>
      <p>Umidade: {{ currentWeather.main.humidity }}%</p>
    </ion-card-content>
  </ion-card>
</div>

<!-- Exibição da previsão para os próximos 5 dias -->

<div *ngIf="weatherForecast">
  <ion-list>
    <ion-item *ngFor="let forecast of weatherForecast">
      <p>{{ forecast.dt_txt | date: 'fullDate' }} - {{ forecast.main.temp }}°C, {{ forecast.weather[0].description | titlecase }}</p>
    </ion-item>
  </ion-list>
</div>
</ion-content>
