<ion-content class="login-content">
  <br>
  <h2>Pesquise o Tempo</h2>
  <br>
  <p>Pesquise o tempo em qualquer lugar.😊</p>
  <br>

<div class="login-container">
    <ion-item lines="none" class="input-group">
      <ion-icon class="icon" name="search"></ion-icon>
      <ion-input [(ngModel)]="city" placeholder="Digite o nome da cidade"></ion-input>
    </ion-item>

    <div class="botao">
      <ion-button shape="round" (click)="searchWeather()">Pesquisar</ion-button>
    </div>

    <div *ngIf="errorMessage" class="error">
      <p>{{ errorMessage }}</p>
    </div>

<br>

  <div class="weather-container" *ngIf="weatherData">
    <h2>{{ weatherData.name }}</h2>
      <div>
        <img [src]="'https://openweathermap.org/img/wn/' + weatherData.icon + '@2x.png'" alt="Ícone do Clima" />
        <p>Temperatura: {{ weatherData.temp }}°C</p>
        <p>Descrição: {{ weatherData.description }}</p>
    </div>
  </div>
</div>
<br>

  <div class="botao">
    <ion-button shape="round" routerLink="/inicio">Clima onde eu Estou</ion-button>
  </div>

<br>

  <div class="botao">
    <ion-button routerLink="/home" shape="round">Sair</ion-button>
  </div>

</ion-content>
  

