@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}


.login-content{
    --background: none;
    background-image: url(https://cdn.discordapp.com/attachments/1041053372133945355/1310032340201767043/beautiful-clouds-scenery.jpg?ex=6743be31&is=67426cb1&hm=6db07076725b074d4f0c688ebb358b7cc55c5279a81f638d0470a4c888a663eb&);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

ion-card{
    text-align: center;
}

ion-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    --color: #3b97d3;
}

h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

p{
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #2c2f3f;
}

#image-container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.error {
    color: red;
    text-align: center;
    margin: 10px 0;
  }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.login-container{
    padding: 22px;
    color: #3b97d3;
    border-radius: 15px;
    background-color: #cae2f7;
    box-shadow: 0 4px 10px rgba(60, 60, 60, 0.6);
}

.input-group{
    margin-bottom: 20px;
    --background: transparent;
    border-radius: 25px;
    border: 2px solid #3b97d3;
    font-size: 18px;
    font-weight: bold;
}

.input-group ion-input{
    color: #3b97d3;
    padding-left: 10px;
}

.input-group .icon{
    color: #3b97d3; 
}

.botao{
    text-align: center;
}

.botao .button{
    font-weight: bold;
}

.weather-container {
    text-align: center;
    color: #fff;
    background: #2c2f3f;
    padding: 20px 20px;
    border-radius: 10px;

    p{
        color: white;
    }

}