<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tempus</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Tempus</strong>
  </div>

  <div class="img">
   <img src="../../assets/img/weather.png" alt="sol com nuvem" width="120px" height="120px">
  </div>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Temperatura Atual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="weather">
        <p>Temperatura: {{ weather.main.temp }}°C</p>
        <p>Descrição: {{ weather.weather[0].description }}</p>
      </div>
      <div *ngIf="!weather">Carregando...</div>
    </ion-card-content>
  </ion-card>

<ion-button (click)="getWeather()">Atualizar Clima</ion-button>

</ion-content>
