@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}


.login-content{
    --background: none;
    background-image: url('https://i.postimg.cc/T3f1WK67/beautiful-clouds-scenery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

ion-card{
    text-align: center;
}

ion-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    --color: #3b97d3;
}

h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#image-container{
     display: flex;
     justify-content: center;
     align-items: center; 
}

.login-container{
    padding: 22px;
    color: #3b97d3;
    border-radius: 15px;
    background-color: #cae2f7;
    box-shadow: 0 4px 10px rgba(60, 60, 60, 0.6);
}

.input-group{
    margin-bottom: 20px;
    --background: transparent;
    border-radius: 25px;
    border: 2px solid #3b97d3;
    font-size: 18px;
    font-weight: bold;
}

.input-group ion-input{
    color: #3b97d3;
    padding-left: 10px;
}

.input-group .icon{
    color: #3b97d3; 
}

.botao{
    text-align: center;
}

.botao .button{
    font-weight: bold;
}

.weather-container {
    text-align: center;
    color: #fff;
    background: #2c2f3f;
    padding: 20px 20px;
    border-radius: 10px;

    p{
        font-weight: bold;
        gap: 10px;
        font-size: 18px;
    }

}

.current-weather {
    font-size: 1.2em;
    margin-bottom: 20px;


 img {
    width: 50px;
    height: 50px;
 }

 p {
    margin: 5px 0;
  }
}

.forecast {
    display: flex;
    justify-content: space-around;
  
    .forecast-day {
     text-align: center;
  
        p {
        margin: 5px 0;
        }
  
        img {
        width: 40px;
        height: 40px;
        }
    }
}

li {
    font-size: 1.2rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 0.5rem 0;
  }












// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// *{
//   font-family: "Quicksand", sans-serif;
// }

// ion-content{
//     --ion-background-color: #3b97d3;
// }

// ion-card{
//     text-align: center;
// }

// ion-button{
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     --color: #3b97d3;
// }

// h2{
//     text-align: center;
//     font-size: 35px;
//     font-weight: bold;
// }

// .botao{
//     text-align: center;
// }

// #image-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // height: 90vh;   
//   }
  
// img{
//     max-width: 100%;
//     height: auto;
// }