<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
<br>
<h2>Tempus</h2>
<br>

 <div id="image-container">
  <img routerLink="/register" src="../../assets/img/weather-news.png" alt="quatro climas" width="100px" height="100px">
 </div>

 <br>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Temperatura Atual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="weather">
        <p>Temperatura: {{ weather.main.temp }}°C</p>
        <p>Descrição: {{ weather.weather[0].description}}</p>
      </div>
      <div *ngIf="!weather">Carregando...</div>
    </ion-card-content>
  </ion-card>

<br>
<div class="botao">
  <ion-button shape="round" color="primary" (click)="getWeather()">Atualizar Clima</ion-button>
</div>
<br>
<div class="botao">
  <ion-button routerLink="/home" shape="round" color="primary">Sair</ion-button>
</div>

</ion-content>
