
<ion-content class="login-content" [fullscreen]="true">
<br>
<h2>Tempus</h2>
<br>

 <div id="image-container">
  <img routerLink="/register" src="../../assets/img/weather-forecast.png" alt="quatro climas" width="100px" height="100px">
 </div>

 <br>

 <div class="login-container">

  <div class="weather-container" *ngIf="weatherData">
    <h1>{{ currentLocation }}</h1>
    <h3>Clima Atual</h3>
    <p>Temperatura: {{ forecast[1]?.temp }}°C</p>
    <p>Descrição: {{ forecast[1]?.description }}</p>

    <h1>Previsão</h1>
    <div class="forecast">
    <ul>
      <li *ngFor="let day of forecast" class="forecast-day">
        <img *ngIf="day.icon" [src]="'http://openweathermap.org/img/wn/' + day.icon + '.png'" alt="Icone do Clima" />
        <p>{{ day.date | date: 'EEEE, dd/MM' }} <br> {{ day.temp }}°C - {{ day.description }}</p>
      </li>
    </ul>
  </div>
  </div>
  
<br>
<div class="botao">
  <ion-button shape="round" (click)="loadWeather()">Atualizar Clima</ion-button>
</div>
<br>
<div class="botao">
  <ion-button shape="round" routerLink="/search-location">Pesquisar o Clima de Lugares</ion-button>
</div>
<br>
<div class="botao">
  <ion-button routerLink="/home" shape="round">Sair</ion-button>
</div>

</div>

</ion-content>
