<ion-header>
</ion-header>

<ion-content>
  <br>
  <h1>Registro</h1>
  <br>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="Digite seu email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        placeholder="Digite sua senha"
      ></ion-input>
    </ion-item>
  </ion-list>
    
    <br>

    <div class="botao">
      <ion-button shape="round" (click)="register()">Registrar</ion-button>
    </div>

    <br>

    <div class="botao">
      <ion-button shape="round" color="primary" (click)="goToLogin()">Já tem uma conta? Entrar</ion-button>
    </div>

    <br>
</ion-content>
