@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}

#image-container{
    display: flex;
    justify-content: center;
    align-items: center; 
}


.login-content{
    --background: none;
    background-image: url('https://i.postimg.cc/T3f1WK67/beautiful-clouds-scenery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

ion-card{
    text-align: center;
}

ion-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    --color: #3b97d3;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.login-container{
    padding: 22px;
    border-radius: 15px;
    background-color: #cae2f7;
    box-shadow: 0 4px 10px rgba(60, 60, 60, 0.6);
}

.input-group{
    margin-bottom: 20px;
    --background: transparent;
    border-radius: 25px;
    border: 2px solid #3b97d3;
    font-size: 18px;
    font-weight: bold;
}

.input-group ion-input{
    color: #3b97d3;
    padding-left: 10px;
}

.input-group .icon{
    color: #3b97d3; 
}

.botao{
    text-align: center;
}

.botao .button{
    font-weight: bold;
}

