<ion-header>
</ion-header>

<ion-content>
  <br>
  <h1>Registro</h1>
  <br>

  <form (ngSubmit)="register()">
    
    <ion-item color="primary">
      <ion-label position="floating">Usuário</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    
    <br>
    
    <ion-item color="primary">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    
    <br>
    
    <ion-item color="primary">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    
    <br>

    <div class="botao">
      <ion-button shape="round" type="submit">Registrar</ion-button>
    </div>

    <br>

    <div class="botao">
      <ion-button shape="round" color="primary" (click)="goToLogin()">Já tem uma conta? Entrar</ion-button>
    </div>

    <br>
  </form>
</ion-content>
