<ion-content class="login-content">
<br>
  <h1>Registro</h1>
<br>
  <div id="image-container">
    <img routerLink="/register" src="../../assets/img/register.png" alt="quatro climas" width="100px" height="100px">
   </div>
<br>

  <div class="login-container">

  <form (ngSubmit)="onRegister()">
    <ion-item lines="none" class="input-group">
      <ion-icon name="mail" class="icon"></ion-icon>
      <ion-input type="email" [(ngModel)]="email" name="email" required placeholder="Email"></ion-input>
    </ion-item>
  <br>
  <ion-item lines="none" class="input-group">
    <ion-icon name="lock-closed" class="icon"></ion-icon>
    <ion-input type="password" [(ngModel)]="password" name="password" required placeholder="Senha"></ion-input>
  </ion-item>
  <br>
    <div class="botao">
      <ion-button shape="round" type="submit">Registrar</ion-button>
    </div>

    <br>

    <div class="botao">
      <ion-button shape="round" (click)="goToLogin()">Já tem uma conta? Entrar</ion-button>
    </div>
  </form>
</div>
    <br>
    <div class="botao">
      <ion-button routerLink="/home" shape="round">Sair</ion-button>
    </div>
</ion-content>
